* @SaladTechnologies/virtual-kubelet-maintainers

# Administrators must approve changes to license and code owners (and other GitHub-specific resources).
/.github/ @SaladTechnologies/admins
/LICENSE @SaladTechnologies/admins
/NOTICE @SaladTechnologies/admins
