apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: my-container
          image: docker.io/heygordian/node-app:latest
          resources:
            requests:
              memory: "1Gi"
              cpu: "1"
            limits:
              memory: "1Gi"
              cpu: "1"
      nodeSelector:
        kubernetes.io/role: agent
      tolerations:
        - key: "virtual-kubelet.io/provider"
          operator: "Equal"
          value: "saladCloud"
          effect: "NoSchedule"
